hw_imx135_liteon=/system/etc/camera/davinci/hw_imx135_liteon/
hw_ov5648_foxconn=/system/etc/camera/davinci/hw_ov5648_foxconn/
imx214_foxconn=/system/etc/camera/davinci/imx214_foxconn/
imx214_sunny=/system/etc/camera/davinci/imx214_sunny/
ov2680_byd_uhw8257m_scale=/system/etc/camera/davinci/ov2680_byd_uhw8257m_scale/
ov8858_foxconn_sc1102=/system/etc/camera/davinci/ov8858_foxconn_sc1102/
imx219_liteon_3bab17=/system/etc/camera/davinci/imx219_liteon_3bab17/
imx328_sunny_p13n10a_ale=/system/etc/camera/davinci/imx328_sunny_p13n10a_ale/
imx328_sunny_p13n10a_chm=/system/etc/camera/davinci/imx328_sunny_p13n10a_chm/
ov13850_liteon_p13v01h_chm=/system/etc/camera/davinci/ov13850_liteon_p13v01h_chm/
ov13850_ofilm_ohwba03_chm=/system/etc/camera/davinci/ov13850_ofilm_ohwba03_chm/
ov13850_liteon_p13v01h_ale=/system/etc/camera/davinci/ov13850_liteon_p13v01h_ale/
ov13850_ofilm_ohwba03_ale=/system/etc/camera/davinci/ov13850_ofilm_ohwba03_ale/
imx214_foxconn_kiw=/system/etc/camera/davinci/imx214_foxconn_kiw/
imx214_sunny_kiw=/system/etc/camera/davinci/imx214_sunny_kiw/
imx214_ofilm_kiw=/system/etc/camera/davinci/imx214_ofilm_kiw/
s5k4e1_sunny_kivi=/system/etc/camera/davinci/s5k4e1_sunny_kivi/
ov5648_foxconn_kivi=/system/etc/camera/davinci/ov5648_foxconn_kivi/
ov5648_ofilm_ohw5f03_kiw=/system/etc/camera/davinci/ov5648_ofilm_ohw5f03_kiw/
gc2355_ofilm_ohw2f03=/system/etc/camera/davinci/gc2355_ofilm_ohw2f03/
s5k4e1_sunny=/system/etc/camera/davinci/s5k4e1_sunny/
ov5648_foxconn=/system/etc/camera/davinci/ov5648_foxconn/
