imx219_liteon_pad=/system/etc/camera/davinci/imx219_liteon_pad/
imx219_ofilm_pad=/system/etc/camera/davinci/imx219_ofilm_pad/
ov8858_foxconn_pad=/system/etc/camera/davinci/ov8858_foxconn_pad/
gc2355_ofilm_ohw2f03_pad=/system/etc/camera/davinci/gc2355_ofilm_ohw2f03_pad/
ov2680_byd_bm2920b_pad=/system/etc/camera/davinci/ov2680_byd_bm2920b_pad/