imx214_sunny=/system/etc/camera/smartae/config/imx214_sunny/
imx328_sunny_p13n10a_ale=/system/etc/camera/smartae/config/imx328_sunny_p13n10a_ale/
imx328_sunny_p13n10a_chm=/system/etc/camera/smartae/config/imx328_sunny_p13n10a_chm/
ov13850_ofilm_ohwba03_ale=/system/etc/camera/smartae/config/ov13850_ofilm_ohwba03_ale/
ov13850_ofilm_ohwba03_chm=/system/etc/camera/smartae/config/ov13850_ofilm_ohwba03_chm/
ov5648_ofilm_ohw5f03_ale=/system/etc/camera/smartae/config/ov5648_ofilm_ohw5f03_ale/
ov5648_ofilm_ohw5f03_chm=/system/etc/camera/smartae/config/ov5648_ofilm_ohw5f03_chm/
s5k4e1_sunny_chm=/system/etc/camera/smartae/config/s5k4e1_sunny_chm/
s5k4e1_sunny_ale=/system/etc/camera/smartae/config/s5k4e1_sunny_ale/
ov5648_foxconn_chm=/system/etc/camera/smartae/config/ov5648_foxconn_chm/
ov5648_foxconn_ale=/system/etc/camera/smartae/config/ov5648_foxconn_ale/
ov13850_liteon_p13v01h_chm=/system/etc/camera/smartae/config/ov13850_liteon_p13v01h_chm/
ov13850_liteon_p13v01h_ale=/system/etc/camera/smartae/config/ov13850_liteon_p13v01h_ale/
ov13850_sunny_p13v01h=/system/etc/camera/smartae/config/ov13850_sunny_p13v01h/
ov13850_ofilm_ohwba03=/system/etc/camera/smartae/config/ov13850_ofilm_ohwba03/
imx328_sunny_p13n10a=/system/etc/camera/smartae/config/imx328_sunny_p13n10a/
ov5648_foxconn_132=/system/etc/camera/smartae/config/ov5648_foxconn_132/
ov5648_ofilm_ohw5f03=/system/etc/camera/smartae/config/ov5648_ofilm_ohw5f03/
s5k4e1_sunny_132=/system/etc/camera/smartae/config/s5k4e1_sunny_132/
s5k4e1_sunny=/system/etc/camera/smartae/config/s5k4e1_sunny/
imx214_foxconn=/system/etc/camera/smartae/config/imx214_foxconn/
ov5648_foxconn=/system/etc/camera/smartae/config/ov5648_foxconn/