imx214_sunny=/system/etc/camera/smartae/config/imx214_sunny/
imx328_sunny_p13n10a_ale=/system/etc/camera/smartae/config/imx328_sunny_p13n10a_ale/
imx328_sunny_p13n10a_chm=/system/etc/camera/smartae/config/imx328_sunny_p13n10a_chm/
ov13850_ofilm_ohwba03_ale=/system/etc/camera/smartae/config/ov13850_ofilm_ohwba03_ale/
ov13850_ofilm_ohwba03_chm=/system/etc/camera/smartae/config/ov13850_ofilm_ohwba03_chm/
ov5648_ofilm_ohw5f03_ale=/system/etc/camera/smartae/config/ov5648_ofilm_ohw5f03_ale/
ov5648_ofilm_ohw5f03_chm=/system/etc/camera/smartae/config/ov5648_ofilm_ohw5f03_chm/
s5k4e1_sunny_chm=/system/etc/camera/smartae/config/s5k4e1_sunny_chm/
s5k4e1_sunny_ale=/system/etc/camera/smartae/config/s5k4e1_sunny_ale/
ov5648_foxconn_chm=/system/etc/camera/smartae/config/ov5648_foxconn_chm/
ov5648_foxconn_ale=/system/etc/camera/smartae/config/ov5648_foxconn_ale/
ov13850_liteon_p13v01h_chm=/system/etc/camera/smartae/config/ov13850_liteon_p13v01h_chm/
ov13850_liteon_p13v01h_ale=/system/etc/camera/smartae/config/ov13850_liteon_p13v01h_ale/
s5k4e1_sunny=/system/etc/camera/smartae/config/s5k4e1_sunny/
imx219_liteon_pad=/system/etc/camera/smartae/imx219_liteon_pad/
imx219_ofilm_pad=/system/etc/camera/smartae/imx219_ofilm_pad/
ov8858_foxconn_pad=/system/etc/camera/smartae/ov8858_foxconn_pad/
gc2355_ofilm_ohw2f03_pad=/system/etc/camera/smartae/gc2355_ofilm_ohw2f03_pad/
ov2680_byd_bm2920b_pad=/system/etc/camera/smartae/ov2680_byd_bm2920b_pad/